* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: Arial, sans-serif;
  font-size: 1.2rem;
  background-color: #323232;
  color: #fff;
  overflow: hidden;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.temperature {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.degree-section {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.temperature-description {
  text-transform: capitalize;
  margin-top: 0.5rem;
}

img {
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 480px) and (min-height: 480px) {
  body {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 768px) and (min-height: 480px) {
  .location {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 480px) and (min-height: 480px) {
  body {
    font-size: 1.8rem;
  }
}
