* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.location-timezone,
.temperature-degree,
.temperature-description, span{
  font-size: 30px;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #323232;
  font-family: 'poppins', sans-serif;
  color: #fff;

  .location,
  .temperature {
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .temperature {
    flex-direction: column;

    .degree-section {
      display: flex;
      align-items: center;
      cursor: pointer;

      .temperature-degree {
        margin: 2.5px;
      }

      span {
        margin: 2.5px;
      }
    }
  }
}
